@model Document

<hr>
@using (Html.BeginForm((Model != null && Model.Id > 0) ? "Edit" : "Create", "Document", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    @*@Html.AntiForgeryToken()*@
    // поля формы
    //Заголовок
    <div class="col-sm-6">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    //Категория
    <div class="col-sm-4">
        <label asp-for="Category" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control"
            asp-items="@(new SelectList(ViewBag.Category, "Id", "Title"))">
            <option value="">Выберите категорию</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    //Отдел
    <div class="col-sm-4">
        <label asp-for="Department" class="control-label"></label>
        <select asp-for="DepartmentId" class="form-control"
            asp-items="@(new SelectList(ViewBag.Department, "Id", "Title"))">
            <option value="">Выберите отдел</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    //Закон
    <div class="col-sm-4">
        <label asp-for="Laws" class="control-label"></label>
        <select asp-for="Laws" class="form-control"
            asp-items="@(new SelectList(ViewBag.Laws, "Id", "Title"))" multiple></select>
        <span asp-validation-for="Laws" class="text-danger"></span>
    </div>
    //Текст
    <div class="col-sm-10">
        <label asp-for="Text" class="control-label"></label>
        <textarea asp-for="Text" style="height:140px;" class="form-control"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    //Приложения
    <div class="col-sm-6">
        <label asp-for="Files" class="control-label"></label>
        <input asp-for="Files" type="file" multiple class="form-control" />
        <span asp-validation-for="Files" class="text-danger"></span>
    </div>
    <div class="description col-sm-12">
        Максимальный размер файла: <strong>50 МБ</strong>.
        <br>Разрешённые типы файлов:
        <strong>txt doc docx xls xlsx pdf png jpg bmp rar zip ppt pptx rtf gif</strong>.
    </div>
    // таблица с приложенными файлами
    <div class="file" id="documents_{{documents.id}}_{{f.id}}">

        @if (Model != null && Model.Files != null && Model.Files.Any())
        {
            <p>Приложения2:</p>
            <div class="file" id="file_@Model.Id">
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Имя файла</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model.Files)
                    {
                        <tr>
                            <td>@file.Title</td>
                            <td>
                                @Html.CheckBox("deleteFile" + file.Id)
                                @Html.Hidden("fileId", file.Id)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

       @* 
        <div class="file" id="documents_{{documents.id}}_{{f.id}}">
            @if (Model != null && Model.Files != null)
            {
                <b>Приложения3: </b>
                @foreach (var file in Model.Files)
                {
                    <div class="file" id="file_@file.Id">
                        @file.Title
                    </div>
                }
            }
        </div>*@
    </div>
    <div class="form-group">
        <div class="col-sm-4">
            <button class="btn btn-info" type="submit">@((Model != null && Model.Id > 0) ? "Сохранить изменения" : "Создатьx")</button>
        </div>
    </div>


}