@model Document
@{
    var document = (KnowledgeBase.Models.Document)ViewBag.Document;
}
<hr>
@using (Html.BeginForm((Model != null && Model.Id > 0) ? "Edit": "Create", "Document", FormMethod.Post, new { enctype = "multipart/form-data", id = "document-form" }))
{
    @*@Html.AntiForgeryToken()*@
    //Заголовок
    <div class="col-sm-6">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    //Категория
    <div class="col-sm-4">
        <label asp-for="Category" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control"
            asp-items="@(new SelectList(ViewBag.Category, "Id", "Title"))">
            <option value="">Выберите категорию</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    //Отдел
    <div class="col-sm-4">
        <label asp-for="Department" class="control-label"></label>
        <select asp-for="DepartmentId" class="form-control"
            asp-items="@(new SelectList(ViewBag.Department, "Id", "Title"))">
            <option value="">Выберите отдел</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    //Закон
    <div class="col-sm-4">
        <label asp-for="Laws" class="control-label"></label>
        <select asp-for="Laws" class="form-control"
            asp-items="@(new MultiSelectList(ViewBag.Laws, "Id", "shorttitle"))" class="form-select" , multiple></select>
        <span asp-validation-for="Laws" class="text-danger"></span>
    </div>
    //Текст
    <div class="col-sm-10">
        <label asp-for="Text" class="control-label"></label>
        <textarea asp-for="Text" style="height:140px;" class="form-control"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    //Приложения
    <div class="col-sm-6">
        <label asp-for="Files" class="control-label"></label>
        <input asp-for="Files" type="file" multiple class="form-control" />
        <span asp-validation-for="Files" class="text-danger"></span>
    </div>
    <div class="description col-sm-12">
        Максимальный размер файла: <strong>20 МБ</strong>.
        <br>Разрешённые типы файлов:
        <strong>txt doc docx xls xlsx pdf png jpg bmp ppt pptx rtf gif</strong>.
    
        <div class="file">
            @if (Model != null && Model.Files != null && Model.Files.Any())
            {
                    <p>Приложения:</p>
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var file in Model.Files)
                            {
                                <tr class="file" id="document-@file.DocumentId-@file.Id">
                                    <th scope="row">
                                        <p class="filelogo">
                                            @file.RealTitle@file.Extension
                                        </p>
                                    </th>
                                    <td><button class="btn btn-link  text-decoration-none del-file" data-bk="@file.DocumentId" data-pg="@file.Id" style="color: #6b2525;">Удалить</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                <input type="hidden" name="arr_of_id" id="arr_of_id">
            }
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger">
                    <strong>Ошибка!</strong> @ViewData["Error"]
                </div>
            }
        </div>
    </div>
    <div class="col-sm-6">
            <button class="btn btn-info" type="submit">@((Model != null && Model.Id > 0) ? "Сохранить изменения" : "Создать")</button>
    </div>
    
}
<script src="~/js/scripts.js"></script>