@{
    var document = (KnowledgeBase.Models.Document)ViewBag.Document;
}
@{
    ViewData["Title"] = document.Title;
}
<h4 class="card-title">
    @document.Title
</h4>
<div class="editdoc">
    @*{% if request.user.is_authenticated %}*@
    <a class="text-decoration-none" href="/document/@document.Id/edit">
        Редактировать
    </a>
</div>
<b>Категория:</b>
<a class="text-decoration-none" href="/category/{{documents.category.slug}}/">
    @document.Category.Title
</a>
<br />
<b>Отдел:</b>
@if (document.Department != null){

<a class="text-decoration-none" href="/departament/{{documents.departament.slug}}/">
    @document.Department.Title
</a>
}
else
{
    <span class="text-muted">Не указан</span>
}
<br />
<b> Закон: </b>
@if (document.Laws.Count > 0)
{
     <span>
           @foreach (var l in document.Laws)
        {
            @if (l.Title == "NoFz" && document.Laws.Count == 1)
            {
                <span class="text-muted">Не указан</span>
                document.Laws.Remove(l);
            }
            @if (l.Title != "NoFz" && document.Laws.Count > 1)
            {
                <a class="text-decoration-none" href="/laws/{{l.slug}}/">
                    @l.shorttitle
                </a>
            }
        }
    </span>
}
else{
    <span class="text-muted">Не указан</span>
}
<div class="col-sm-9">
    @document.Text
</div>
@if (document.Files != null)
{
   <b> Приложения: </b>
    <div class="file" id="documents_{{documents.id}}_{{f.id}}">
             @foreach (var file in document.Files)
            {
                <div class="file" id="file_@file.Id">
                    <a class="text-decoration-none del-file" download href="/files/@document.Id/@file.Title@file.Extension", new { fileId=file.Id })" style="font-weight: bold;">
                        @file.Title
                    </a>
               
                </div>
            }
     </div>
}
<b>Дата создания:</b> @document.DateCreate.ToShortDateString()
<br>
<b> Дата обновления: </b>
@if (document.DateUpdate.HasValue)
{
    @document.DateUpdate.Value.ToShortDateString()
}
else
{
    <span class="text-muted">Не указана</span>
}
@*  Автор: *@
