@{
    var document = (KnowledgeBase.Models.Document)ViewBag.Document;
}
@{
    ViewData["Title"] = document.Title;
}
<h4 class="card-title">
    @document.Title
</h4>
<div class="navbar-right">
    <a asp-action="Edit" class="btn btn-xs btn-info navbar-btn" asp-route-id="@document.Id">Редактировать</a>
    <a asp-action="Delete" class="btn btn-xs btn-danger navbar-btn" asp-route-id="@document.Id">Удалить документ</a>
</div>

<div class="editdoc">
    @*{% if request.user.is_authenticated %}*@
    <a class="text-decoration-none" href="/document/@document.Id/edit">
        Редактировать
    </a>
</div>
<b>Категория:</b>
<a class="text-decoration-none" href="/category/@document.CategoryId">
    @document.Category.Title
</a>
<br />
<b>Отдел:</b>
@if (document.Department != null){

<a class="text-decoration-none" href="/department/@document.DepartmentId">
    @document.Department.Title
</a>
}
else
{
    <span class="text-muted">Не указан</span>
}
<br />
<b> Закон: </b>
@if (@document.Laws.Count > 0)
{
     <span>
           @foreach (var l in document.Laws)
        {
            @if (l.Title == "NoFz" && document.Laws.Count == 1)
            {
                <span class="text-muted">Не указан</span>
               @* @document.Laws.Remove(l);*@
            }
            @if (l.Title != "NoFz" && document.Laws.Count >= 1)
            {
                <a class="text-decoration-none" href="/laws/@l.Id">
                    @l.shorttitle
                </a>
            }
        }
    </span>
}
else{
    <span class="text-muted">Не указан</span>
}
<div class="col-sm-9">
    @document.Text
</div>
@if (document.Files != null)
{
   <b> Приложения: </b>
    <div class="file">
      @*  id="documents_@document.Id"*@
             @foreach (var file in document.Files)
            {
                <div class="file" id="file_@file.Id">
                    <p class="filelogo">
                        <a class="text-decoration-none del-file" download="@file.RealTitle" href="/files/@document.Id/@file.Title@file.Extension" , new { fileId=file.Id })" style="font-weight: bold;">
                        @file.RealTitle@file.Extension
                        </a>
                    </p>
                </div>
            }
     </div>
}
<b>Дата создания:</b> @document.DateCreate.ToShortDateString()
<br>
<b> Дата обновления: </b>
@if (document.DateUpdate.HasValue)
{
    @document.DateUpdate.Value.ToShortDateString()
}
else
{
    <span class="text-muted">Не указана</span>
}
<br />
Автор: @document.User.Username

@section Scripts {
    <script>
        $(function () {
            $(".delete-link").click(function () {
                if (!confirm("Вы уверены, что хотите удалить этот файл?")) {
                    return false;
                }
            });
        });
    </script>
}

<script src="~/js/site.js"></script>