@{
    var document = (KnowledgeBase.Models.Document)ViewBag.Document;
}
@{
    ViewData["Title"] = document.Title;
}
<h4 class="card-title">
    @document.Title
</h4>
<div class="editdoc">
    @*{% if request.user.is_authenticated %}*@
    <a class="text-decoration-none" href="/document/@document.Id/edit">
        Редактировать
    </a>
</div>

<b>Категория:</b>
<a class="text-decoration-none" href="/category/{{documents.category.slug}}/">
    @document.Category.Title
</a>
<br> 
@if (document.Department != null){
<b>Отдел:</b>
<a class="text-decoration-none" href="/departament/{{documents.departament.slug}}/">
    @document.Department.Title
</a>
}
<br>
@if (document.Laws != null)
{
    <span>
        <b> Закон: </b>
           @foreach (var l in document.Laws)
        {
            <a class="text-decoration-none"  href="/laws/{{l.slug}}/">
                @l.shorttitle
            </a>
        }
    </span>
}
<br>
<div class="col-sm-9">
    @document.Text
</div>
<b>Приложения: </b>
<div class="file" id="documents_{{documents.id}}_{{f.id}}">
    <p class="filelogo" id="filelogo1">
        @if (document.Files != null)
        {
            @foreach (var file in document.Files)
            {
                <div class="file" id="file_@file.Id">
                    <a class="text-decoration-none del-file" download href="/files/@document.Id/@file.Title@file.Extension", new { fileId=file.Id })" style="font-weight: bold;">
                        @file.Title
                    </a>
                </div>
            }
        }
    </p>
</div>
<br>
    Создан: @document.DateCreate.ToShortDateString()
<br>
@if (document.DateUpdate != null)
{

    <span> Обновлён: @document.DateUpdate</span>
    <br>
}
    Автор: 
<br>
<a asp-action="Delete" asp-route-id="@document.Id">Удалить</a>

